@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* Tip Calculator */
.project-tip {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 0px;
  padding-bottom: 10px;
}

/* Tip Calculator */
.tip-calculator-placeholder {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}

.tip-calculator-wrapper {
  width: 80%;
  background-color: rgba(188, 68, 243, 0.85);
  border-radius: 20px;
}

.tip-calculator-header {
  border-radius: 20px 20px 0 0;
  background-color: rgba(188, 68, 243, 0.85);
  padding-top: 20px;
}

.tip-calculator-header h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(183, 34, 241);
  border: none;
}

form p {
  text-align: center;
  color: rgb(236, 239, 245);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 5px 10px 25px;
}

#total-bill-amount,
#number-of-people {
  font-size: 18px;
  color: rgb(10, 11, 12);
  background-color: #f7f7f7;
  width: 60%;
  padding: 15px 15px 8px 8px;
  text-align: center;
}

#number-of-people:focus,
#total-bill-amount:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
  width: 60%;
}

#service-quality {
  font-size: 18px;
  padding: 10px 8px 15px 50px;
  color: rgb(15, 16, 17);
  width: 60%;
  text-align: center;
}

#calculate {
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  margin: 1.875rem auto;
  padding: 0.625rem;
  border: none;
  background-color: rgba(226, 37, 217, 0.89);
  width: 33.27rem;
  height: 50px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1.375rem;
}

#answer p {
  color: rgb(17, 20, 20);
  font-size: 1.25rem;
  background-color: rgb(227, 229, 235);
  padding: 0.625rem;
}

#answer {
  font-size: 1.8125rem;
}

@media (max-width: 992px) {
  .tip-calculator-wrapper {
    width: 100%;
  }
  .project-tip {
    width: 100%;
    margin-left: 0%;
  }
}

/* footer css */

.footer {
  padding: 2.5rem 0;
  background-color: white;
}

.footer .social {
  text-align: center;
  padding: 2.8125rem;
  color: aqua;
}

.footer .social a {
  font-size: 1.5rem;
  color: initial;
  /* border: 0.0625rem solid #ccc; */
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  text-align: center;
  /* border-radius: 50%; */
  margin: 0 0.5rem;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 0.9375rem;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  text-align: center;
  font-size: 0.8125rem;
  color: #aaa;
  margin-top: 0.9375rem;
}

.fa-instagram {
  color: #517fa4;
}
.fa-facebook,
.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter,
.fa-twitter-square {
  color: #00aced;
}

.fa-linkedin,
.fa-linkedin-square {
  color: #007bb6;
}
